@import url(boxy.css);

div#superfinder { width: 300px; min-height: 200px; }

div#superfinder p { 
	margin: 0px; 
	background: transparent url(/images/super_finder/magnify.png) no-repeat right 3px;
}

div#superfinder p input {
	width: 260px;
	border: 1px solid #bbb; 
	font-size: 16px; 
	color: #222; 
	padding: 5px;
	background: white;
}

div#superfinder ul { list-style: none; margin: 10px 0 0 0px; padding: 0px; }

div#superfinder li { 
	background: #dff5f8;
	padding: 5px;
	margin-bottom: 2px;
	overflow: hidden;
}

div#superfinder li.on {
	background-color: #ccc;
}

div#superfinder li label { 
	position: relative;
	top: -2px;
	background: #333;
	padding: 2px 6px;
	color: white;
	font-weight: normal;
	font-size: 12px;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

div#superfinder li a { 
	margin-left: 15px;
	color: #333;
	text-decoration: none;
	font-size: 16px;
}

div#superfinder li a em { 
	font-style: normal;
	font-weight: bold;
}





